<header>
    <div class="navbar navbar-dark bg-danger shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <a href="home"> <i style="font-size: 40px;" class="fas fa-store">&nbsp;
                </i></a>
            <div class="p-2">
                <strong style="font-size: 30px;">Store JJK</strong>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">
            </div>
            <div class="p-2">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>



        </div>
        <button routerLink="cart" class="btn btn-danger">
            <a href="cart"><i style="font-size: 30px;" class="fas fa-cart-plus"></i></a>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>