<app-header></app-header>
<body class="d-flex text-center text-white bg-dark">
    
    <div class="cover-container d-flex p-3 mx-auto flex-column">
    
      <main class="px-4">
        <h1>Welcome to Store JJK.</h1>
        <p class="lead">Everything in one place.</p>
        <p class="lead">
          <a href="products" class="btn btn-lg btn-secondary fw-bold border-black bg-black">Go to shop</a>
        </p>
        <img id="login" src="./assets/login.png" alt="store" srcset="">
      </main>
    
      <footer class="text-white-50">
        <p>&copy; 2022 Lenguajes de Programación.</p>
      </footer>
    </div>
    
    
        
</body>